<div class=".container">
  <div class="card">
    <div class="card-header">
      <header>
        <mat-toolbar style="background-color: cadetblue;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNRnkKhExbtknDPv_16ydZVF5iZEIsnxG24Q&usqp=CAU"
            width="120" height="70" alt="nasa logo">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
          <span>NASA Api</span>
          <span class="example-spacer"></span>
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
          </button>
        </mat-toolbar>
      </header>
    </div>
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer>
  <div>© 2021 Copyright:
    <a appHighlight href="https://www.nasa.gov/"> nasa.gov</a>
  </div>
</footer>